# ENV (WAJIB)
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Virtual env (kalau ada)
venv/
.env/

# VSCode / IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db